body {
  background-color: lightgray; 
}

.container {
    margin-top: 20px;
}

.list-group-item:hover {
    background-color: white;
    cursor: pointer;
}
.ui-dialog-titlebar {
    background-color: darkslategray;
    color: white;
    border: none;
}
.ui-dialog-titlebar-close {
    background: none;          
    border: none;
    width: 24px;
    height: 24px;
    position: normal;
}

.ui-dialog-titlebar-close::before {
    content: "X";              
    font-size: 16px;
    color: white;              
    position: normal;
    top: 2px;
    left: 6px;
}

.ui-dialog {
    border-radius: 8px;
}
